<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/chatting.css">
        <title>chatting</title>
    </head>
    <body>

        <div class="header">
            <a href="/" class="banner">
                <span class="blind">
                    faggot
                </span>
            </a>
        </div>

        <div class="wrapper" style="white-space: nowrap;">
            <div class="rooms">
                <h1>rooms</h1>
                <button id="refresh_button" onclick="refresh()">방새로고침</button>
                <button id="create_button" onclick="showform()">방만들기</button>
                <table id="roomtable">
                    <tr>
                        <th>방번호</th>
                        <th>방이름</th>
                        <th>인원</th>
                        <th>비밀방</th>
                    </tr>
                </table>

            </div>
    
            <div class="chats" style="white-space: nowrap;">
                <div class="chatbox" style="white-space: nowrap; overflow:auto;">
                    




                </div>

                <form class="chatform" id="chatform" enctype="multipart/form-data">

                    <div class="filebox">
                        <label id="filename" for="file">
                            파일 보내기
                        </label>
                        <input type="file" id="file" name="file" accept=".jpeg, .jpg, .gif, .png" />
                    </div>

                    <input type="text" id="text" name="text">

                    <button id="button_submit">
                        전송
                    </button>

                </form>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="./scripts/chatting.js"></script>
    </body>
</html>
