<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/index.css">
        <title>6chan</title>
    </head>
    <body>
        
        <div class = "wrapper">

            <header>

                <div class="logo">
                    <a href="/" class="banner">
                        <img src="images/white-fag.png" style= "height: auto;">
                    </a>
                </div>            

                <div class="name">
                    <h1 id="sayhi">
                        
                    </h1>
                </div>

                <ul class="gnb">
                    <li><a href="/mypage" class="fadeup">마이페이지</a></li>
                    <li><a href="/chatting" class="fadeup">채팅</a></li>
                    <li><a href="/register" class="fadeup">회원가입</a></li>
                    <li><a href="/login" id = "loginText" class="fadeup"></a></li>
                </ul>
                

            </header>

            <div id="container">
                <div class="navnsearch">
                    <ul class="lnb-left">
                        <li><a href="/board/lists?id=comps" class="fadeup" style="color:black">컴퓨터사이언스</a></li>
                        <li><a href="/board/lists?id=sfw" class="fadeup" style="color:black" >SFW</a></li>
                        <li><a href="/board/lists?id=nsfw" class="fadeup" style="color:black" >NSFW</a></li>
                    </ul>
                    <div class="lnb-right">
                        <form id="searchform">
                            <input type="text" id="searchInput" class="searchInput" placeholder="여기에 검색">
                            <button type="submit" id="searchButton" class="searchButton">검색</button>
                        </form>
                    </div>
                </div>
                <div class="hotposts">
                    <h1>
                        여기엔 인기 게시물을 넣을겁니다
                    </h1>
                </div>

            </div>


            <footer>
                <div class="footer_box">
                    <div id="footer_logo">
                        <a href="https://github.com/abcd0978">
                            <img src="./ico/github.png">
                        </a>
                    </div>

                    <div id="footer_texts">
                        Author: 김민규 <br>
                        Email: kimmin36944@gmail.com<br>
                        Everything in this site is copyleft: free to copy<br>
                    </div>
                </div>
            </footer>

        </div>
        
        
    </body>
    <script>
        function isLoggedin()
        {
            fetch('/validcheck/logincheck',{
            method: 'POST',
            credentials:'include',
            })
            .then(res=>
            {
                return res.json();
            })
            .then(res=>
            {
                if(res.result)//로그인 되어있을시에 로그아웃 주소로 돌림
                {
                    document.getElementById('loginText').innerText="로그아웃";
                    document.getElementById('sayhi').innerText=res.name+"님 안녕하세요!";
                    $("#loginText").attr("href","/auth/logout");
                }
                else
                {
                    document.getElementById('loginText').innerText="로그인";
                    document.getElementById('sayhi').innerText="익명님 안녕하세요!";
                    $("#loginText").attr("href","/login");
                }
            })
            .catch(err=>
            {
                console.log(err);
            });   
        }
        isLoggedin();
    </script>
</html>