<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>사람사는세상.</title>
    </head>
    <body>
        <div id = "wrapper">
            <div id="header">

            </div>
            <div id="content">

            </div>
            <div id="footer">

            </div>
        </div>
        <h1>
            안녕하세요 회원가입 또는 로그인 하실래요
        </h1>
        <a href="/register">
            회원가입하러 가기
        </a>
        <br>
        <a href="/login">
            로그인하러 가기
        </a>
    </body>
</html>