<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/register.css">
        <title>회원가입 페이지</title>
    </head>
    <body>
            <div id="wrapper">

                <div id="header">
                    <a href="/" class="banner">
                        <span class="blind">
                            사람사는세상
                        </span>
                    </a>
                </div>

                <div id="content">
                    <form id="register" method="post" action="/auth/join">

                    <div class="row">
                        <div class="id">
                            <h3>
                                <label for="id">아이디</label>
                            </h3>
                                <span class ="box id">
                                    <input type="text" id="id" class="int" title="아이디" maxlength="20" name="ID">
                                    <span class="max_len">최대 20자임</span>
                                </span>
                                <span class="error" id="idmsg" style = "display:none" aria-live="assertive" ></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="pswd">
                            <h3>
                                <label for="pswd">비밀번호</label>
                            </h3>
                            <span class="box pswd">
                                <input type="password" id="pass1" class="int" maxlength="20" title="비번" name="PASS1">
                            </span>
                            <span class="error" id="pass1msg" style = "display:none" aria-live="assertive" ></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="pswd">
                            <h3>
                                <label for="pswd2">비밀번호 확인</label>
                            </h3>
                            <span class="box pswd">
                                <input type="password" id="pass2" class="int" maxlength="20" title="비번확인" name="PASS2">
                            </span>
                            <span class="error" id="pass2msg" style = "display:none" aria-live="assertive" ></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="name">
                            <h3>
                                <label for="name">닉네임</label>
                            </h3>
                            <span class="box name">
                                <input type="text" id="name" class="int" maxlength="20" title="이름" name="NAME">
                            </span>
                            <span class="error" id="namemsg" style = "display:none" aria-live="assertive" ></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="email">
                            <h3>
                                <label for="email">이메일</label>
                            </h3>
                            <span class="box email">
                                <input type="text" id="email" class="int" maxlength="50" title="이메일" name="EMAIL">
                            </span>
                            <span class="error" id="emailmsg" style = "display:none" aria-live="assertive" ></span>
                        </div>
                    </div>

                    <div class ="btn">
                        <button type="submit" id="btn_register" class = "btn_register" title="가입하기">
                            <span>
                                가입하기
                            </span>
                        </button>
                    </div>
                    
                </form>
                </div>
            </div>
        
    </body>
    <script type="text/javascript">
        var id_yip_ryeok_chang = document.getElementById('id');
        var pass_one = document.getElementById('pass1');
        var pass_two = document.getElementById('pass2');
        var name_yip_ryeok_chang = document.getElementById('name');
        var user_email = document.getElementById('email');
        var idcheck = false;
        var passone_check = false;
        var passtwo_check = false;
        var name_check = false;
        var email_check = false;
        $(document).ready(function()
        {
            var userIdCheck = function(msg)
            {
                var idvalue = $('#id').val()
                var checkDup;
                var request = $.ajax({
                    url: "/login/check",
                    method: "post",
                    data: {ID: idvalue, IDEMAILFLAG: false},
                    datatype: "json",
                    async: false,
                    success:function(res)
                    {
                        console.log(res);
                    },
                });
            }
            //$('#ele').focusout(function() {
            //    $(this).addClass('hidden');
            //});
            var userEmailCheck = function(msg)
            {
                var emailvalue = $('#email').val();
                var checkDup;
                var request = $.ajax({
                    url: "/login/check",
                    method: "post",
                    data: {EMAIL1: emailvalue, IDEMAILFLAG: true},
                    datatype: "json",
                    async: false,
                    success:function(res)
                    {
                        console.log(res);
                    },
                });
            }
        });
        
        function pilsu(text,span)//필수정보라고 알려주는거
        {
            if(text==="")
            {
                span.innerHTML="필수정보 입니다.";
                span.style.display='block';
            }
            else{
                span.style.display='none';
            }
        }
        function pass2check(pass1,pass2,pass2msg)
        {
            if(pass1!=pass2)
            {
                pass2msg.innerHTML="비밀번호가 일치하지 않습니다."
            }
            else
            {
                pass2msg.style.display="none";
            }
        }
        id_yip_ryeok_chang.addEventListener('focusout',function()//아이디 검사
        {
        let id_text = id_yip_ryeok_chang.value;
        let id_message = document.getElementById('idmsg');
        pilsu(id_text,id_message);
        });

        pass_one.addEventListener('focusout',function()//비번검사
        {
            var pass1_text = pass_one.value;
            let pass1_message = document.getElementById('pass1msg');
            pilsu(pass1_text,pass1_message);
        });

        pass_two.addEventListener('focusout',function()//비번확인검사
        {
            let pass2_text = pass_two.value;
            let pass2_message = document.getElementById('pass2msg');
            pass2check(pass1_text,pass2_text,pass2_message);
            //pilsu(pass2_text,pass2_message);
        });

        name_yip_ryeok_chang.addEventListener('focusout',function()//이름검사
        {
            let name_text = name_yip_ryeok_chang.value;
            let name_message = document.getElementById('namemsg');
            pilsu(name_text,name_message);
        });
        user_email.addEventListener('focusout',function()//이메일 검사
        {
            let email_text = user_email.value;
            let email_msg = document.getElementById('emailmsg');
            //pilsu(email_text,email_msg); //이메일은 필수 아니잖아?
        });
        
    </script>
</html>