body, html
        {
            height:100%;
        }
            .wrapper
            {
                height:100%;
                max-width:1200px;
                margin: 0 auto;/*left right마진을 자동으로 함으로서 중앙정렬*/
                
            }
                header
                {
                    background-image:url("../images/main.jpg");
                    height: 400px;
                    position: fixied;
                    width: 100%;/*wrapper의 1200px에 맞춤*/
                    z-index: 9999;/*우선 순위가 높을수록 z축의 위에 배치된다*/
                    min-width:750px;
                    top: 0;
                }
                    .logo
                    {
                        left:20px;
                        width: 180px;
                        float:left;
                    }
                    .name
                    {
                        font-family: 'Pretendard-Regular';
                        opacity: 0.85;
                        color:wheat;
                        text-align: center;
                        left:0;
                        width:30%;
                        min-width:300px;
                        float:left;
                    }
                    .gnb
                    {
                        width:100%;
                        height:75px;
                    }
                        .gnb li/*글씨를 담는 영역*/
                        {
                            height:60px;
                            list-style: none;/*글씨 앞에 점 안보이게 함*/
                            float:left;
                        }
                            .gnb a/*글씨와 링크*/
                            {
                                opacity: 0.75;
                                position:relative;
                                font-family: 'Pretendard-Regular';
                                font-size: large;
                                color:white;
                                text-decoration-line:none;/*밑줄 사라짐*/
                                display: block;/*padding의 크기만큼 클릭하는 칸이 늘어남*/
                                padding: 20px 30px;/*클릭하는칸이 차지하는 크기*/
                                margin: 7px 7px;/*클릭하는 칸들의 간격*/
                            }
                            .gnb a:hover/*마우스가 올라갔을때*/
                            {
                                opacity: 1;
                            }
                            .gnb a::before 
                            {
                            transition: 300ms;/*애니메이션의 시간*/
                            height: 5px;
                            content: "";
                            position: absolute;
                            background-color:darkslategrey;
                            }
                .navnsearch
                {
                    border-bottom: 1px solid black;
                    height:75px;
                    width:100%;
                    min-width: 787px;
                }
                    .lnb-left
                    {
                        width:50%;
                        min-width: 430px;;
                        float:left;
                    }
                        .lnb-left li/*글씨를 담는 영역*/
                        {
                            height:60px;
                            margin-right: 3px;
                            list-style: none;/*글씨 앞에 점 안보이게 함*/
                            float:left;
                            transition: 0.1s;
                        }
                        .lnb-left li:hover
                        {
                            background-color: darkgray;
                        }
                            .lnb-left a/*글씨와 링크*/
                            {
                                opacity: 0.75;
                                position:relative;
                                font-family: 'Pretendard-Regular';
                                font-size: large;
                                color:white;
                                text-decoration-line:none;/*밑줄 사라짐*/
                                display: block;/*padding의 크기만큼 클릭하는 칸이 늘어남*/
                                padding: 20px 30px;/*클릭하는칸이 차지하는 크기*/
                                margin: 7px 7px;/*클릭하는 칸들의 간격*/
                            }
                            .lnb-left a:hover/*마우스가 올라갔을때*/
                            {
                                opacity: 1;
                            }
                            .lnb-left a::before 
                            {
                            transition: 300ms;/*애니메이션의 시간*/
                            height: 5px;
                            content: "";
                            position: absolute;
                            background-color:darkslategrey;
                            }

                            .fadeup::before 
                            {
                            position:absolute;
                            left:25%;
                            width: 55%;
                            bottom: 5px;
                            opacity: 0;
                            }

                            .fadeup:hover::before 
                            {
                            bottom: 10px;
                            opacity: 0.86;
                            }
                    .lnb-right
                    {
                        width:40%;
                        float:right;
                        height: 100%;
                    }
                        #searchInput
                        {
                            height: auto; /* 높이 초기화 */ 
                            line-height: normal; /* line-height 초기화 */ 
                            padding: .8em .5em; /* 여백 설정 */
                            width:50%;
                            margin-left: 10px;
                            margin-top: 30px;
                            margin-right: 10px;
                        }
                        #searchButton
                        {
                            font-family: 'Pretendard-Regular';
                            height: 37px;
                            color:#ffffff;
                            font-size: medium;
                            background-color:#0d6efd;
                            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                            border: none;
                            border-radius: 4px;
                            display: inline-block;
                            width: 70px;
                            cursor:pointer;
                            transition: 0.1s;
                        }
                        #searchButton:hover
                        {
                            background-color:#005edd;
                        }
                    .hotposts
                    {
                        float:center;
                        background-color: aqua;
                    }
                            @font-face 
                            {
                                font-family: 'Pretendard-Regular';
                                src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
                                font-weight: 600;
                                font-style: normal;
                            }