body{
    height: 1000px;
    text-align: center;
}
#wrapper {
    position: absolute;
    left: 25%;
    width:50%;
    height:100%;
    /*text-align: center;*/
    /*border: 1px solid black;*/
}
#header{
    /*top:0%;*/
    max-width: 100%;
    /* height: 120px;*/
    max-height: 15%;
}
#header .banner
{
    height: 110px;
    display: block;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.blind
{
    width:1px;
    height:1px;
    margin:-1px;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

h3
{
    color:goldenrod;
    left:0%;
    font-size: 14px;
}
.max_len {/*최대 20자 이상 그거*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}
.box{/*입력 하는 칸*/
    display: block;
    width: 100%;
    height: 51px;
    border:solid #8e8e8e 1px;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    position: relative;
}
.int{
    border:none;/*입력칸 테두리 없앰*/
    width:100%;
    height:29px;
}
#email/*이메일은 셀렉트 박스 있으니까 input은 좀 치워두자*/
{
    border:solid 1px;
    width:30%;
    height:29px;
}
#email2/*ㅅㅂ*/
{
    background-color:darkgrey;
    width:30%;
    height:29px;
}
.row{
    margin: 25px;
}
.btn_register{
    width:90%;
    height: 45px;
    border: none;
    background-color: gold;
    cursor:pointer;
}
.error{
    color:red;
}
